# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data_csv = "../output_data/cities.csv"

vaca_df = pd.read_csv(output_data_csv)

new_vaca_df = vaca_df.drop(columns=["Unnamed: 0"])

new_vaca_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tasiilaq,65.6145,-37.6368,23.0,80,90,2.71,GL,1618713479
1,jalu,29.0331,21.5482,77.2,24,16,9.35,LY,1618713479
2,cabo san lucas,-8.2833,-35.0333,73.4,94,75,2.30,BR,1618713480
3,ancud,-41.8697,-73.8203,53.6,87,20,9.22,CL,1618713480
4,southbridge,42.0751,-72.0334,42.8,70,90,8.05,US,1618713314

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
cities = new_vaca_df[["Lat", "Lng"]]

humidity = new_vaca_df["Humidity"].astype(float)

fig = gmaps.figure()


heatmap = gmaps.heatmap_layer(cities, weights=humidity, dissipating=False, max_intensity=5, point_radius=1)

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

new_cities = new_vaca_df.loc[(new_vaca_df["Max Temp"] > 70) & (new_vaca_df["Max Temp"] < 80) & (new_vaca_df["Cloudiness"] == 0) & (new_vaca_df["Wind Speed"] < 10), :]

new_cities = new_cities.dropna(how="any")

new_cities.reset_index(inplace=True)

del new_cities["index"]
new_cities.head(25)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,conde,-7.2597,-34.9075,73.40,100,0,5.75,BR,1618713481
1,busselton,-33.6500,115.3333,72.52,44,0,4.79,AU,1618713490
2,hermanus,-34.4187,19.2345,71.01,24,0,1.99,ZA,1618713490
3,cabedelo,-6.9811,-34.8339,73.40,100,0,5.75,BR,1618713531
4,adrar,20.5022,-10.0711,70.12,24,0,9.60,MR,1618713539
5,atar,20.5169,-13.0499,72.10,25,0,8.10,MR,1618713541
6,altar,30.7000,-111.8167,75.00,15,0,3.00,MX,1618713547
7,falam,22.9167,93.6833,79.63,25,0,0.43,MM,1618713550
8,abu kamal,24.6000,72.7000,76.15,26,0,2.62,IN,1618713555
9,belmonte,-15.8631,-38.8828,71.60,88,0,4.54,BR,1618713567
10,taoudenni,22.6783,-3.9836,79.45,16,0,9.95,ML,1618713568
11,geraldton,-28.7667,114.6000,78.80,27,0,5.75,AU,1618713583
12,parana,-31.7320,-60.5238,72.00,82,0,1.01,AR,1618713588
13,abu dhabi,24.6000,72.7000,76.15,26,0,2.62,IN,1618713594
14,caborca,30.5838,-111.1010,75.00,15,0,3.00,MX,1618713597
15,doha,25.2867,51.5333,78.80,25,0,9.22,QA,1618713390
16,matay,28.4190,30.7792,75.18,19,0,5.32,EG,1618713634
17,esna,25.2934,32.5540,73.40,38,0,1.23,EG,1618713635

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotels = []

for i in range(len(new_cities)):
    lat = new_cities.loc[i]["Lat"]
    lng = new_cities.loc[i]["Lng"]
    
    
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types": "hotel",
        "key": g_key
    }

    q_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel = requests.get(q_url, params=params).json()
    
    try:
        hotels.append(hotel["results"][0]["name"])
    except:
        hotels.append("np.nan")

new_cities["Hotel Name"] = hotels
new_cities = new_cities.dropna(how="any")
new_cities.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,conde,-7.2597,-34.9075,73.40,100,0,5.75,BR,1618713481,João Pessoa
1,busselton,-33.6500,115.3333,72.52,44,0,4.79,AU,1618713490,Busselton
2,hermanus,-34.4187,19.2345,71.01,24,0,1.99,ZA,1618713490,Hermanus
3,cabedelo,-6.9811,-34.8339,73.40,100,0,5.75,BR,1618713531,Cabedelo
4,adrar,20.5022,-10.0711,70.12,24,0,9.60,MR,1618713539,np.nan
5,atar,20.5169,-13.0499,72.10,25,0,8.10,MR,1618713541,Atar
6,altar,30.7000,-111.8167,75.00,15,0,3.00,MX,1618713547,Altar Municipality
7,falam,22.9167,93.6833,79.63,25,0,0.43,MM,1618713550,Falam
8,abu kamal,24.6000,72.7000,76.15,26,0,2.62,IN,1618713555,Abu Road
9,belmonte,-15.8631,-38.8828,71.60,88,0,4.54,BR,1618713567,Belmonte
10,taoudenni,22.6783,-3.9836,79.45,16,0,9.95,ML,1618713568,Taoudenni
11,geraldton,-28.7667,114.6000,78.80,27,0,5.75,AU,1618713583,Geraldton
12,parana,-31.7320,-60.5238,72.00,82,0,1.01,AR,1618713588,Parana
13,abu dhabi,24.6000,72.7000,76.15,26,0,2.62,IN,1618713594,Abu Road
14,caborca,30.5838,-111.1010,75.00,15,0,3.00,MX,1618713597,Santa Ana
15,doha,25.2867,51.5333,78.80,25,0,9.22,QA,1618713390,Doha
16,matay,28.4190,30.7792,75.18,19,0,5.32,EG,1618713634,Matay
17,esna,25.2934,32.5540,73.40,38,0,1.23,EG,1618713635,Esna

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in new_cities.iterrows()]
locations = new_cities[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(new_cities)
fig.add_layer(markers)
fig
# Display figure

ValueError: too many values to unpack (expected 3)